<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_180523_Assignment.Data.Properties.Settings.CandidatesConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Candidates;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>